<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="ios-apps">
      </ion-icon>
    </button>

    <ion-title>Listado Profesores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>
        {{ this.teacherName }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Ramo
      </ion-label>

      <ion-select [(ngModel)]="course" (ngModelChange)="onCourseSelect()">
        <ion-option *ngFor="let courseName of availableCourses; let i = index"
                    value="{{courseName}}"
                    [selected]="i == 0">
          {{ courseName }}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list>
    <div *ngIf="shownCourses">
    <ion-item *ngFor="let course of shownCourses">
      <h2>
        {{ course.teacherName }}
      </h2>

      <p>
        Semestre = {{ course.semester }} - {{ course.year }}
        <p>

          <p>
            Promedio = {{ course.average }}
          </p>

          <p>
            STDDEV = {{ course.stddev }}
          </p>

          <p>
            A / R = {{ course.aproved }} / {{ course.reproved }}
          </p>
    </ion-item>
        </div>
  </ion-list>
</ion-content>
