page-avisos-profesor {
    label,
    textarea {
        padding: 10px;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    label {
        display: block;
        margin-bottom: 20px;
    }
}